*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}
.center {
  margin: auto;
}
body {
  padding: 0;
  margin: 0;
  background: purple;
}
.calculator {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  align-content: center;
  height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 5px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.span-two {
  grid-column: span 2;
}
.output {
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  flex-direction: column;
  word-break: break-all;
  grid-column: 1/ -1;
  background-color: rgba(0, 0, 0, 0.75);
}
.output .previous {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.output .current {
  color: white;
  font-size: 1.5rem;
}
